@page "/"
@using RehseBlazor.Api

<h1>PCA-ANN</h1>

<hr class="rounded" />

<div id="maincontainer">
    <div id="inner">

        <div class="maincontainerchild flowchart">
            <FlowChart />
        </div>

        <div class="maincontainerchild options">
            <RunOptions.Options />
        </div>
    </div>
</div>
